/*------general-start------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --w-blue: #1a73e8;
  --w-red: #d93025;
  --w-darkfont: #202124;
  --w-lightfont: #5f6368;
  --black: #202124;
  --b-blue: #8ab4f8;
  --b-red: #f6aea9;
  --b-darkfont: #9aa0a6;
  --b-lightfont: #e8eaed;
  --b-bar: #37383b;
  --b-btn: #353639;
}

body {
  background-color: var(--white);
  color: var(--w-darkfont);
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1rem;
  padding: 1rem;
  font-weight: 600;
  user-select: none;
}
/*------general-end------*/
/*------form-start------*/
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem 0.75rem;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  border: none;
  background: var(--b-lightfont);
  outline: none;
  font-weight: 400;
}

form button {
  color: var(--black);
  background: var(--b-darkfont);
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: var(--b-btn);
  color: var(--b-lightfont);
}
/*------form-end------*/
/*------todo-cards-start------*/
.todo-container,
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style: none;
  margin-bottom: 20vh;
}

.todo {
  margin: 0.5rem 1rem;
  background: var(--b-lightfont);
  color: var(--w-darkfont);
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.deleted-btn,
.completed-btn,
.bottom-btns {
  color: var(--b-lightfont);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}

.completed-btn {
  background: var(--w-blue);
  transition: all 0.3s ease;
}

.completed-btn:hover {
  background: var(--b-blue);
  color: var(--w-darkfont);
}

.deleted-btn {
  background: var(--w-red);
  transition: all 0.3s ease;
}

.deleted-btn:hover {
  background: var(--b-red);
  color: var(--w-darkfont);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash-alt,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
/*------todo-cards-end------*/
/*------select-menu-start------*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  user-select: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: var(--w-lightfont);
  background: var(--b-lightfont);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: '\25BC';
  position: absolute;
  background: var(--b-darkfont);
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: var(--b-btn);
  color: var(--b-lightfont);
}
/*------select-menu-end------*/
/*------bottom-butons-start------*/
.bottom {
  font-size: 2rem;
  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--white);
  text-align: center;
  padding: 5vh;
  padding-top: 10px;
  margin-top: 5px;
  user-select: none;
}

.bottom-btns {
  background: var(--b-btn);
  border-radius: 0.5rem;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
}

.bottom-btns:hover {
  background: var(--w-lightfont);
}

/*------bottom-butons-end------*/
/*------toggle-start------*/

.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: var(--w-red);
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: var(--w-blue);
}

.toggle__fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  height: var(--height);
  width: var(--height);
  background: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

.autosave {
  padding: 1rem;
  position: static;
  color: var(--black);
}

/*------toggle-end------*/

.footer {
  user-select: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--b-bar);
  color: var(--b-lightfont);
  text-align: center;
  padding: 10px;
}
/*responsive*/
@media only screen and (max-width: 700px) {
  /*form*/
  form input {
    max-width: 10rem;
  }

  form input,
  form button {
    font-size: 1rem;
  }
  /*select*/
  select {
    padding: 0.6rem;
  }
  .select::after {
    padding: 0.5rem;
  }
  /*buttons*/
  .deleted-btn,
  .completed-btn,
  .bottom-btns {
    font-size: 0.8rem;
  }
  /*todo-cards*/
  .todo {
    font-size: 1rem;
  }
  .todo-list {
    min-width: 50%;
  }
  .bottom {
    font-size: 1.3rem;
  }
  .toggle {
    --width: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .bottom {
    padding-top: 0;
  }
  .select {
    position: absolute;
    margin-top: 6rem;
  }
  .deleted-btn,
  .completed-btn,
  .bottom-btns {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
  .bottom-btns {
    margin-top: 0.3rem;
  }
  .toggle {
    --width: 30px;
  }
}
